<div class="container">
  <h1>Kisat</h1>

  <table class="table">
    <thead>
        <tr>
          <th>Kisojen nimi</th>
          <th>Päivämäärä</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>
            <a href="/kisa/1">Kumpulan hiihtokisat</a>
          </td>
          <td>
            26.3.2014
          </td>
        </tr>
    </tbody>
  </table>
</div>