<div class="container">
  <h1><%= @kisa['nimi'] %></h1>

  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Lähtölista</a></li>
    <li role="presentation"><a href="#">1. välipiste</a></li>
    <li role="presentation"><a href="#">2. välipiste</a></li>
    <li role="presentation"><a href="#">Lopputulokset</a></li>
  </ul>

  <table class="table">
    <thead>
    <tr>
      <th>Sijoitus</th>
      <th>Kilpailija</th>
      <th>Aika</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        1
      </td>
      <td>
        Matti Meikäläinen
      </td>
      <td>
        02:03.22
      </td>
    </tr>
    </tbody>
  </table>
</div>