<div class="container" ng-controller="TulospalveluCtrl">
  <h1><%= @kisa['nimi'] %></h1>

  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Lähtölista</a></li>
    <li role="presentation"><a href="#">1. välipiste</a></li>
    <li role="presentation"><a href="#">2. välipiste</a></li>
    <li role="presentation"><a href="#">Lopputulokset</a></li>
  </ul>

  <table class="table">
    <thead>
    <tr>
      <th>Sijoitus</th>
      <th>Kilpailija</th>
      <th>Aika</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="kilpailija in tulokset">
      <td>
        {{$index+1}}
      </td>
      <td>
        {{ kilpailija.nimi }}
      </td>
      <td>
        {{kilpailija.aika}}
      </td>
    </tr>
    </tbody>
  </table>

  <h2>Lisää aika</h2>

  <form>
    <div class="form-group">
      <label for="kilpailija">Kilpailija</label>
      <label for="valipiste">Välipiste</label>
      <label for="aika">Aika</label>
    </div>
  </form>

</div>

<script>
  $(document).ready(function() {
      $('#nav a').click(function (e) {
          e.preventDefault()
          $(this).tab('show')
      })
  })

</script>