<div class="container">
    <h1>Kisat</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Kisojen nimi</th>
            <th>Päivämäärä</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="kilpailu in kilpailut">
            <td>
                <a ng-href="#/kisa/{{kilpailu.id}}" ng-bind="kilpailu.nimi"></a>
            </td>
            <td ng-bind="kilpailu.alkaa">

            </td>
            <td><a ng-click="poistaKisa(kilpailu.id)">Poista</a></td>
        </tr>
        </tbody>
    </table>

    <h1>Luo kisa</h1>

    <form>
        <label for="nimi">Nimi</label>
        <input type="text" id="nimi" ng-model="kisa.nimi" required="" />
        <label for="pvm">Päivämäärä</label>
        <input type="date" id="pvm" ng-model="kisa.pvm" required="" />
        <label for="valipisteet">Välipisteitä</label>
        <input type="number" min="1" step="1" id="valipisteet" ng-model="kisa.valipisteet" required="" />
        <button type="button" class="btn btn-primary" ng-click="lisaaKisa()">Lisää</button>
    </form>
</div>