<div class="container" ng-controller="KilpailijaCtrl">
  <h1>Kilpailijat</h1>
  <div class="row">
    <div class="col-md-8">
        <table class="table">
          <thead>
            <tr>
              <th>Nimi</th>
              <th>Kansallisuus</th>
              <th>Syntymäaika</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="kilpailija in kilpailijat" data-id="{{$index}}">
              <td>{{ kilpailija.nimi }}</td>
              <td>{{ kilpailija.kansallisuus }}</td>
              <td>{{ kilpailija.syntymaaika }}</td>
              <td><a href="#" ng-click="muokkaaKilpailija(kilpailija)">Muokkaa</a></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-md-4">
      <h2>Lisää kilpailija</h2>
      <form name="kilpailijalomake">
        <div class="form-group">
            <!-- <label for="nimi">Nimi</label> -->
            <input type="text" name="nimi" placeholder="Nimi" class="form-control" required ng-model="nimi" />
        </div>

        <div class="form-group">
          <input type="text" name="kansallisuus" placeholder="Kansallisuus (esim. FI)" required class="form-control"
                 ng-model="kansallisuus"/>
        </div>

        <div class="form-group">
          <input type="date" name="syntymaaika" placeholder="Syntymäaika" required class="form-control"
                 ng-model="syntymaaika" />
        </div>

        <div class="form-group">
          <button type="button"  ng-disabled="kilpailijalomake.$invalid" ng-click="lisaaKilpailija(kilpailija)">Lisäsä</button>
        </div>
      </form>
    </div>
  </div>
</div>
